@use "mixin";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Pathway+Gothic+One&family=Trirong:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*
    font-family: 'Trirong', serif;
    font-family: 'Pathway Gothic One', sans-serif;
    font-family: 'Karla', sans-serif;
*/
*, ::after, ::before {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    h2 {
        font-size: 6rem;
        font-family: 'Pathway Gothic One', sans-serif;
    }
    p {
        font-size: 2.3rem;
        font-family: 'Karla', sans-serif;
    }

    #menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #181818;
        transform: translateY(-100vh);
        transition: transform 0.6s cubic-bezier(0.93, 0, 0.57, 0.93);
        transition-delay: 250ms;
        transition-property: transform;
        z-index: 100;
        @include mixin.flexcenter(column);

        div {
            position: relative;
            width: 80%;
            height: 20vh;
            display: flex;
            align-items: center;
            padding: 0 100px;
                a {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    font-size: 3.2rem;
                    color: white;
                    font-family: 'Karla', sans-serif;
                }
            }
            div:nth-child(1) {
                border-top: 1px solid #3F3F3F;
                border-bottom: 1px solid #3F3F3F;
                a {
                    justify-content: flex-start;
                }
            }
            div:nth-child(2) {
                border-bottom: 1px solid #3F3F3F;
                a {
                    justify-content: center;
                }
            }
            div:nth-child(3) {
                border-bottom: 1px solid #3F3F3F;
                a {
                    justify-content: flex-end;
                }
                
            }
            div::after{
                bottom: 0;
                right: 0;
                content: "";
                position: absolute;
                height: 1px;
                width: 0;
                background: white;
                transition: width 0.4s ease;
            }
            div:nth-child(1):hover::after {
                width: 90%;
            }
            div:nth-child(2):hover::after {
                width: 60%;
            }
            div:nth-child(3):hover::after {
                width: 30%;
            }
        }
        #menu.show {
            transform: translateY(0);
        }
        #menu-transition {
            position: absolute;
            height: 100vh;
            width: 100%;
            background-color: black;
            transform: translateY(-100vh);
            transition: transform 0.7s cubic-bezier(0.93, 0, 0.57, 0.93);
            z-index: 99;
        }
        #menu-transition.show {
            transform: translateY(0);
        }
    header{
        #btn-menu {
            position: fixed;
            top: 20px;
            right: 20px;
            padding: 10px;
            cursor: pointer;
            font-size: 4rem;
            font-family: 'Pathway Gothic One', sans-serif;
            z-index: 101;
        }
        #btn-menu.show {
            color: white;
        }
    }
    main {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 100px;

        .project {
            display: flex;
            align-items: center;
            margin: 40px 0;

            .project-img-wrapper {
                width: 60%;
                overflow: hidden;
                position: relative;
                .overlayLink{
                    position: absolute;
                    z-index: 5;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 7px 15px;
                    border-radius: 15px;
                    opacity: 0;
                    color: black;
                    font-family: 'Karla', sans-serif;
                    font-size: 14px;
                    background-color: white;
                    transition: opacity .3s ease-in-out;
                    pointer-events: none
                }
                img {
                    width: 100%;
                    transform: scale(1);
                    transition: all .3s ease-in-out;
                    filter: blur(0);
                }
                img:hover {
                    transform: scale(1.1);
                    filter: blur(2px);
                }
            }
            .project-img-wrapper:hover .overlayLink{
                opacity: 1;
            }
            .project-info {
                width: 40%;
                margin-left: 20px;
                padding: 0 20px;
                .info-heading {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 15px;
                    h2 {
                        font-size: 4rem;
                    }
                    p {
                        font-family: 'Pathway Gothic One', sans-serif;
                        
                    }
                }
                .project-info-p {
                    font-size: 2rem;
                    min-height: 117px;
                    padding-bottom: 25px;
                }
                h3 {
                    font-size: 2.5rem;
                    padding-bottom: 10px;
                    font-family: 'Pathway Gothic One', sans-serif;
                }
                .technos {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding-bottom: 25px;
                    img {
                        width: 30px;
                    }
                }
                // a {
                //     font-size: 2.2rem;
                //     font-family: 'Karla', sans-serif;
                //     color: black;
                //     text-decoration: none;
                // }
                .a-container{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    height: 100%;
                    
                        .the-arrow {
                            width: 64px;
                            transition: all 0.2s;
                        
                            &.-left {
                            position: absolute;
                            top: 60%;
                            left: 0;
                        
                            > .shaft {
                                width: 0;
                                background-color: rgb(24, 24, 24);
                                
                                &:before,
                                &:after {
                                width: 0;
                                background-color: rgb(24, 24, 24);
                                }
                        
                                &:before {
                                transform: rotate(0);
                                }
                        
                                &:after {
                                transform: rotate(0);
                                }
                            }
                            }
                            
                            &.-right {
                            top: 3px;
                            
                            > .shaft {
                                width: 64px;
                                transition-delay: 0.2s;
                        
                                &:before,
                                &:after { 
                                width: 8px;
                                transition-delay: 0.3s;
                                transition: all 0.5s;
                                }
                                
                                &:before {
                                transform: rotate(40deg);
                                }
                                
                                &:after {
                                transform: rotate(-40deg);
                                }
                            }
                            }
                        
                            > .shaft {
                            background-color: rgb(24, 24, 24);
                            display: block;
                            height: 1px;
                            position: relative;
                            transition: all 0.2s;
                            transition-delay: 0;
                            will-change: transform;
                        
                            &:before,
                            &:after {
                                background-color: rgb(24, 24, 24);
                                content: '';
                                display: block;
                                height: 1px;
                                position: absolute;
                                top: 0;
                                right: 0;
                                transition: all 0.2s;
                                transition-delay: 0;
                            }
                        
                            &:before {
                                transform-origin: top right;
                            }
                        
                            &:after {
                                transform-origin: bottom right;
                            }
                            }
                        }
                
                    .animated-arrow {
                        display: inline-block;
                        color: rgb(24, 24, 24);
                        font-size: 1.25em;
                        font-style: italic;
                        text-decoration: none;
                        position: relative;
                        transition: all 0.2s;
                        
                        &:hover {
                        color: rgb(24, 24, 24);
                        
                        > .the-arrow.-left {
                            > .shaft {
                            width: 64px;
                            transition-delay: 0.1s;
                            background-color: rgb(24, 24, 24);
                    
                            &:before,
                            &:after {
                                width: 8px;
                                transition-delay: 0.1s;
                                background-color: rgb(24, 24, 24);
                            }
                    
                            &:before {
                                transform: rotate(40deg);
                            }
                    
                            &:after {
                                transform: rotate(-40deg);
                            }
                            }
                        }
                        
                        > .main {
                            transform: translateX(64px + 16px);
                            
                            > .the-arrow.-right {
                            > .shaft {
                                width: 0;
                                transform: translateX(200%);
                                transition-delay: 0;
                                
                                &:before,
                                &:after {
                                width: 0;
                                transition-delay: 0;
                                transition: all 0.1s;
                                }
                    
                                &:before {
                                transform: rotate(0);
                                }
                    
                                &:after {
                                transform: rotate(0);
                                }
                            }
                            }
                        }
                        }
                        
                        > .main {
                        display: flex;
                        align-items: center;
                        transition: all 0.2s;
                        
                        > .text {
                            margin: 0 16px 0 0;
                            font-size: 2.2rem;
                            font-family: 'Karla', sans-serif;
                            line-height: 1;
                        }
                        
                        > .the-arrow {
                            position: relative;
                        }
                        }
                    }
                ///////////////////////////    
                }
            }
        }
    }
    footer {
        background-color: #181818;
        color: white;
        .footer-top {
            @include mixin.flexcenter();
            padding: 70px;
            .footer-link {
                width: 50%;
                padding-right: 160px;
                border-right: 1px solid #3F3F3F;
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    li {
                        list-style: none;
                        a {
                            color: white;
                            text-decoration: none;
                            font-family: 'Pathway Gothic One', sans-serif;
                            font-size: 5rem;
                        }
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }
                
            }
            .footer-logo {
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 50%;
                padding-left: 160px;
                img {
                    width: 36px;
                }
            }
        }
        .footer-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 60px 20px;
            p {
                font-size: 1.6rem;
                font-weight: 200;
            }
            img {
                width: 36px;
                cursor: pointer;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    body {
        main {
            padding: 65px 20px 0 20px;
        }
    }
}

@media screen and (max-width: 425px) {
    
    *, ::after, ::before {
        font-size: 7px;
    }

    body {

        #menu {
            div {
                a {
                    justify-content: center !important;
                }
            }
        }
        main {
            padding-top: 60px;
            .project {
                padding: 15px;
                flex-direction: column;
                .project-img-wrapper {
                    width: 100%;
                    margin-bottom: 10px;
                    .overlayLink {
                        opacity: 1;
                    }
                    img {
                        filter: blur(2px);
                    }

                }
                .project-info {
                    width: 100%;
                }
            }
        }





        
        footer {
            .footer-top {
                padding: 50px !important;
            }
            .footer-link {
                padding-right: 60px !important;
            }
            .footer-logo {
                padding-left: 60px !important;
            }
        }
    }
    
}